body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  color: black;
}

@media only screen and (max-width: 760px) {
  .increase,
  .decrease,
  .reset {
    margin: 0.5rem !important;
  }
  .root {
    margin-top: 0.5rem !important;
    font-size: 3rem !important;
  }
  .counter {
    font-size: 55px !important;
  }
}

.dark-mode {
  background-color: black;
  color: white;
}
.dark-mode .increase {
  color: white;
  background-color: #003049;
  box-shadow: none;
}
.dark-mode .decrease {
  color: white;
  background-color: #003049;
  box-shadow: none;
}
.dark-mode .reset {
  color: white;
  background-color: #003049;
  box-shadow: none;
}
.dark-mode .counter {
  color: azure;
  text-shadow: none;
}

.counter {
  text-align: center;
  font-size: 80px;
  color: #1f2937;
}

.buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

h2:hover,
a:hover {
  background-color: #e5e7eb;
}

.increase {
  cursor: pointer;
  text-align: center;
  display: inline;
  border: 2px solid black;
  border-radius: 1rem;
  margin: 5rem 2rem;
  padding: 0rem 1rem;
  box-shadow: 5px 5px 5px grey;
  font-size: 2rem;
  color: #374151;
}

.reset {
  cursor: pointer;
  text-align: center;
  display: inline;
  border: 2px solid black;
  border-radius: 1rem;
  margin: 5rem 2rem;
  padding: 0rem 1rem;
  box-shadow: 5px 5px 5px grey;
  font-size: 2rem;
  color: #374151;
}

.decrease {
  cursor: pointer;
  text-align: center;
  display: inline;
  border: 2px solid black;
  border-radius: 1rem;
  margin: 5rem 2rem;
  padding: 0rem 1rem;
  box-shadow: 5px 5px 5px grey;
  font-size: 2rem;
  color: #374151;
}

.root {
  margin-top: 7rem;
  text-align: center;
  font-size: 5rem;
}

.footer {
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
}

.footer a {
  color: #1d4ed8;
  text-decoration-color: black;
}
